@font-face {
    font-family: 'Brush Script MT';
    src: url('./fonts/brush_script.ttf') format('truetype'); /* Update the path and file name if necessary */
  }
  body{
    background-color: #219EBC;
    overflow-x: hidden;
  }
  .priceeffact{
    
      font-family: 'Calligraffitti', cursive;
      font-weight: 700;
      font-size: 3rem;
      right: -40px;
      top: 0;
      rotate: -30deg;
      text-shadow: -15px 5px 20px #ced0d3;
      transform: translate(-50%,-50%);
      letter-spacing: 0.02em;
      color: #F9f1cc;
      text-shadow: 5px 5px 0px #FFB650, 
        10px 10px 0px #FFD662, 
        15px 15px 0px  #FF80BF, 
        20px 20px 0px #EF5097, 
        25px 25px 0px #6868AC, 
        30px 30px 0px #90B1E0;
    
  }

  
.with {
    font-family: 'Brush Script MT', cursive;
  }
.solle{
  font-family: 'Changa One', cursive;
font-family: 'Josefin Sans', sans-serif;
}
  .card {
    color: white;
    width: 190px;
    height: 254px;
    background: #FB8500;
    transition: all 0.4s;
    border-radius: 10px;
    border: white 0.4px solid;
    box-shadow: 0px 0px 10px 5px  rgba(255, 183, 3, 0.705);
    font-size: 30px;
    font-weight: 900;
  }
  
  .card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(255, 183, 3, 0.705);
    box-shadow: 0px 0px 15px 10px  rgba(255, 183, 3, 0.705);
    box-shadow: 0px 0px 20px 15px  rgba(255, 183, 3, 0.705);
    background: #FFB703;
  }
  
  .first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
  }
  
  .card:hover .first-content {
    height: 0px;
    opacity: 0;
  }
  
  .second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
  }
  
  .card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1rem;
    transform: rotate(0deg);
  }
  /* --------------------- */
  .card21 {
    background-image: url("../public/shekenfood.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 300px;
    height: 270px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
    font-size: 40px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: all 2s;
    
    box-shadow: 15px 15px 30px rgb(8, 69, 94),
    -15px -15px 30px rgb(119, 228, 255);
  }
  .card22 {
    background-image: url("../public/crockpot-whole-chicken-1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 300px;
    height: 270px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
    font-size: 40px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: all 2s;
    box-shadow: 15px 15px 30px rgb(8, 69, 94),
    -15px -15px 30px rgb(119, 228, 255);
  }
  .card23 {
    background-image: url("../public/salade-cesar-thermomix-800x600.png");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 300px;
    height: 270px;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
    font-size: 40px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: all 2s;
    box-shadow: 15px 15px 30px rgb(8, 69, 94),
    -15px -15px 30px rgb(119, 228, 255);
  }
  
  
  .card2::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(251, 133, 0, 0.85);
    transition: all 0.5s;
    box-shadow: 20px 20px 35px rgb(8, 69, 94);
  }
  

  
  .card2::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .card2:hover::before,
  .card2:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  .card21:hover:after {
    
    content: "Registration made easy and fast";
    text-align: center;

    font-size: 1.2rem;
  }
  .card22:hover:after {
    
    content: " Choose from a variety of options with varying levels of difficulty";
    text-align: center;
    
    font-size: 1.2rem;
  }
  .card23:hover:after {
    
    content: "you will receive a confirmation call to verify your purchase and confirm your order details";
    text-align: center;
    font-size: 1.2rem;
  }

  /* ---------------------------------------- */
  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .flotimage {
    position: relative;
    display: inline-block;
  }
  
  .flotimage:hover img {
    animation: floating 1s infinite;
  }


  /* --------------------------------------- */
  .cta {
    border: none;
    background: none;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: white;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /* -------------------------------- */
  .btn {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
  }
  
  .btn::after {
    content: 'Back';
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: #FFB703;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 115%;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    transition: .2s linear;
  }
  
  .icon path {
    fill: white;
    transition: .2s linear;
  }
  
  .btn:hover > .icon {
    transform: scale(1.2);
  }
  
  .btn:hover > .icon path {
    fill: rgb(177, 139, 189);
  }
  
  .btn:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
  }
  /* ----------------------------------------------- */
  .button5 {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 10px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }
  
  .button5_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  .button5:hover .button5_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  .button5:active .button5_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }
  .fastF{
    box-shadow:-12px -12px 30px #8ECAE6,
     12px 12px 30px rgb(8, 69, 94);
  }

  /* ------------------------------------ */
  .buttonFast {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.5s ease-in-out;
  }
  
  .btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
  }
  
  .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .buttonFast:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
  }
  
  .type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }
  /* ((((((((((())))))))))) */
  .cardFast {
    position: relative;
    background-color: #8ECAE6;
    width: 500px;
    height: 120px;
    box-shadow:-12px -12px 30px #8ECAE6,
     12px 12px 30px rgb(8, 69, 94);
    
    overflow: hidden;
    
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .contentFast {
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .contentFast .headingFast {
    font-weight: 700;
    font-size: 32px;
  }
  
  .contentFast .paraFast {
    line-height: 1.5;
  }
 
  .contentFast .btnFast {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #FB8500 0%, #FFB703 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .cardFast::before {
    content: "";
    position: absolute;
   
    right: 0;
    width: 15PX;
    height: 100%;
    background: linear-gradient(-45deg, #FFB703 0%, #FB8500 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .cardFast:hover::before {
    width: 100%;
  }
  
  .cardFast:hover {
    box-shadow:-12px -12px 30px #FFB703,
    12px 12px 30px #473300;
  }
  
  .cardFast:hover .btnFast {
    color: #212121;
    background: #e8e8e8;
  }
  
  .contentFast .btnFast:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  .contentFast .btnFast:active {
    box-shadow: none;
  }
  /* ---------------------------------- */
  .site-footer {
  
    padding: 50px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-links a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .footer-social a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    color: #fff;
  }

  /* ----------------------------------- */
  .cardfooter svg {
    height: 25px;
  }
  
  .cardfooter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    height: 50px;
    width: 200px;
  }
  
  .cardfooter::before, .cardfooter::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
  }
  
  .cardfooter::before {
    content: "";
    left: 0;
    justify-content: flex-end;
    background-color: #4d60b6;
  }
  
  .cardfooter::after {
    content: "";
    right: 0;
    justify-content: flex-start;
    background-color: #4453a6;
  }
  
  .cardfooter:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .cardfooter:hover span {
    opacity: 0;
    z-index: -3;
  }
  
  .cardfooter:hover::before {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  
  .cardfooter:hover::after {
    opacity: 0.5;
    transform: translateY(100%);
  }
  
  .cardfooter span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
  }
  
  .cardfooter .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
  }
  
  .cardfooter .social-link svg {
    text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
    transform: scale(1);
  }
  
  .cardfooter .social-link:hover {
    background-color: rgba(249, 244, 255, 0.774);
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  


  /* ______________________________________________________________ */
  .feedbacktextt {
    color: white; 
      font-family: 'Helvetica Neue', sans-serif;  
       font-size: 2rem; 
       font-weight: bold; 
       letter-spacing: -1px;
        line-height: 1;
         text-align: center;
  }


  .feedbutton {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 22px;
    border-radius: 5%;
    background: rgba(255, 183, 3, 0.2);
    cursor: pointer;
    user-select: none;
    font-weight: bolder;
    overflow: hidden;
    color: #023047;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
  }
  
  .feedbutton span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #FFB703;
  }
  
  .feedbutton span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: #219EBC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  
  .feedbutton:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #023047;
  }
  
  .feedbutton:hover {
    color: white;
  }
  
  .feedbutton:active span::before {
    background: #2751cd;
  }

  .rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #219EBC;
  }
  
  .rating:not(:checked) > label:before {
    content: '★';
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #FB8500;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #FB8500;
  }
  
  .rating > input:checked ~ label {
    color: #FFB703;
  }
  
  /* _______________________________ */
  .rating2:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating2:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 20px;
    color: #219EBC;
  }
  
  .rating2:not(:checked) > label:before {
    content: '★';
  }
  
  .rating2 > input:checked + label:hover,
  .rating2 > input:checked + label:hover ~ label,
  .rating2 > input:checked ~ label:hover,
  .rating2 > input:checked ~ label:hover ~ label,
  .rating2 > label:hover ~ input:checked ~ label {
    color: #FB8500;
  }
  
  .rating2:not(:checked) > label:hover,
  .rating2:not(:checked) > label:hover ~ label {
    color: #FB8500;
  }
  
  .rating2 > input:checked ~ label {
    color: #FFB703;
  }
  
  
  